---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li>
    <h1 id="posts-label">Inicio</h1>
  </li>
<li><a class="post-link" href="#">
      <h2 class="post-title">Perfil</h2>
    </a>
    
    <div class="post"><p>Dinámico y habituado al trabajo bajo presión y en equipo; con experiencia en atención al cliente y gran sentido de responsabilidad así como alta vocación se servicio, capaz de generar valor agregado a la organización mediante creación de ideas e iniciativa propia  para la resolución de problemas.</p>
      

</div>
  </li>
  
<div class="badges" style="background-position-x: center;">   
          </div>

{%- endif -%}
